.ej {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.button {
    background-color: rgb(174, 121, 224);
    padding: 2vw;
    border-radius: 5%;
    margin: 2vw;
}